<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DataDrivenTestSuite">

<parameter name="userId" value="3"></parameter>
  <test thread-count="5" name="DataDrivenTests">
    <classes>
      <class name="dataDrivenRestAssured.DataDrivenExamples"/>
    </classes>
  </test> 
</suite> 
